<!DOCTYPE html>
<html>
<head>
  <title>NuestraPrimera</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav">
  <div class="logo-container">
    <%= link_to image_tag('logo.png'), root_path, class: 'logo' %>)
  </div>

  <div class="links-container">
    <div>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Login', login_path %>
        </li>
        <li>
          <%= link_to 'About us ', about_path %>
        </li>
      </ul>
    </div>
  </div>

</nav>

<div id="main-container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    NuestraPrimera application is awesome.
  </div>
</footer>

</body>
</html>
